body {
  font-family: Arial, sans-serif;
  
}

.todo-list {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color:white;
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 255, .2);
  margin-top: 50px;
  border-radius: 10px;
  max-height: 482px;
    overflow: auto;
}

.todo-list h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Oswald", sans-serif;
}
.checkbox{
  margin-left: 5px;
}
/* div{
  display: flex;
  align-items: center;
  gap: 4px;
} */
#header{
  display: flex;
  justify-content: space-between;
}
#clear{
  height: 24px;
  width: 161px;
  padding: 10px;
  font-size: 15px;
  color: white;
  /* font-family: "Sevillana", cursive; */
  border-radius: 10px;
  cursor: pointer;
  background-color:#9b50d1;
  margin-top: 20px;
}
#clear:hover {
  background-color: #822dd0;
}
#taskList{
  padding: 0;
}
li{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 480px;
  /* margin:10px 10px; */
  font-family: "Bona Nova SC", serif;
  border-top: 1px solid rgb(54, 53, 53);
  padding: 10px;
  font-size: 20px;

}
.add-item {
  display: flex;
  align-items: center;
  margin-top: 20px;
  position: sticky;
  bottom: -11px;
  backdrop-filter: blur(10px);
}

.add-item input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.add-item button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #a84fe8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-item button:hover {
  background-color: #822dd0;
}
@media only screen and (max-width:600px){
   .todo-list{
     width: 450px;
   }
   li{
    width:430px;
   }
}
@media only screen and (max-width:520px){
   .todo-list{
     width: 400px;
   }
   li{
    width:375px;
   }
}
@media only screen and (max-width:460px){
   .todo-list{
     width: auto;
   }
   li{
    width:auto;
   }
   /* #taskInput{
    width: auto;
   } */
}
@media only screen and (max-width:365px){
   .todo-list{
     width: auto;
     margin-top: 0px;
   }
   li{
    width:auto;
   }
   #taskInput{
    width:100px;
   }
   h1{
    font-size: 15px;
    margin-top: 21px;
    font-size: 25px;
    font-weight: bold;
   }
   #clear{
  width: 150px;
  font-size: 13px;
  font-weight: bold;
  padding-right: 5px;
   }
   
}